@charset "UTF-8";

.gallery, #galerie {
	height: 70px;
	position: relative;
	width: 370px;
	overflow: hidden;
	border: 1px solid rgb(208, 208, 208);
	background: rgb(208, 208, 208);
	border-radius: 3px;
}

#galerie.rubricGallery {
	width: 243px;
	background: #ee7132;
	border: 1px solid #903e15;
	img {
		width: 66px;
		height: 66px;
	}
	.galleryRight {
		margin-left: 220px;
	}
	.galleryLeft, .galleryRight {
		background-color: #ee7132;
	}
}

.gallery img, .gallery a, #galerie img, #galerie a {
	position: relative;
	width: 70px;
	height: 70px;
	float: left;
	cursor: pointer;
}

.galleryInsidePart {
	overflow: hidden;
	display: block;
	float: left;
	position: relative;
}

#galleryMini .galleryInside a {
	width: 150px;
	position: relative;
	text-align: center;

}

#galleryMini .galleryInside a.active {
	-moz-box-shadow: inset 0 0 2px 10px rgb(241, 94, 43) !important;
	-webkit-box-shadow: inset 0 0 2px 10px rgb(241, 94, 43) !important;
	box-shadow: inset 0 0 2px 5px rgb(241, 94, 43) !important;
}

#galleryMini .galleryInside a img {
	position: relative;
	z-index: -1;
}

.gallery a.active img, #galerie a.active img {
	border-top: 1px solid rgb(241, 94, 43);
	border-right: 1px solid rgb(241, 94, 43);
	border-bottom: 1px solid rgb(241, 94, 43);
	border-left: 1px solid rgb(241, 94, 43);
}

.gallery .galleryInside {
	width: 1000%;
	margin-left: 29px;
}

.gallery .galleryLeft, #galleryPresenter .galleryLeft {
	position: absolute;
	cursor: pointer;
	background: rgb(208, 208, 208);
	background-image: url('/css/old/images/arrow-galerie-left.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 23px;
	height: 70px;
	float: left;
	z-index: 9999;
}

.gallery .galleryLeft:hover, #galleryPresenter .galleryLeft:hover {
	background-image: url('/css/old/images/arrow-galerie-left-active.png');
}

.gallery .galleryRight, #galleryPresenter .galleryRight {
	position: absolute;
	cursor: pointer;
	background: rgb(208, 208, 208);
	background-image: url('/css/old/images/arrow-galerie-right.png');
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 23px;
	height: 70px;
	float: right;
	margin-left: 350px;
}

#galleryPresenter .galleryRight {
	right: 0;
	bottom: 0;
	z-index: 9999999999999;
}

.gallery .galleryRight:hover, #galleryPresenter .galleryRight:hover {
	background-image: url('/css/old/images/arrow-galerie-right-active.png');
}

#galleryPresenter {
	z-index: 99999999999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

#galleryPresenter #galleryContent {
	margin: 0 auto;
	background: #ffffff;
	min-width: 10%;
	max-width: 75%;
	height: 40%;
	position: relative;
	top: 10px;
}

#galleryContent #galleryImage {
	margin: 0 auto;
	padding: 5px;
}

#galleryContent #galleryImage img {
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}

#galleryContent #galleryImage .galleryImageArrowLeft, #galleryContent #galleryImage .galleryImageArrowRight {
	position: absolute;
	width: 13%;
	min-width: 40px;
	top: 0;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	background-image: url('/css/old/images/arrow-left.png');
	background-repeat: no-repeat;
	background-position: 20% 50%;
	opacity: 0;
}

#galleryContent #galleryImage .galleryImageArrowLeft:hover, #galleryContent #galleryImage .galleryImageArrowRight:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.4);
	display: inline-block;
}

#galleryContent #galleryImage .galleryImageArrowRight {
	background-image: url('/css/old/images/arrow-right.png');
	background-position: 80% 50%;
	right: 0;
}

#galleryClose {
	width: 40px;
	height: 40px;
	color: #ffffff;
	background-image: url('/css/old/images/arrow-galerie-close.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 999999999999;
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	top: -15px;
	right: -20px;
}

#galleryPresenter #galleryMini {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#galleryPresenter #galleryMini .galleryInside {
	width: 9000%;
}

#galleryPresenter #galleryMini img {
	padding: 0;
}

#galleryPresenter #galleryMini img, #galleryMini .galleryInside a {
	position: relative;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0;
	width: auto;
}

.nafotit {
	float: left;
	position: fixed;
	left: 0;
	padding: 10px;
	background: #ffffff;
	width: 15%;
	bottom: 20%;
	&-illustrative {
		display: none;
		float: left;
		position: fixed;
		right: 0;
		padding: 10px;
		background: #ffffff;
		width: 15%;
		bottom: 20%;
	}
}

.nafotit a {
	padding: 10.5px 20.5px;
	width: 156px;
	display: block;
	color: #ffffff;
	text-align: center;
}

#nafotit2 {
	display: none;
}
