@charset "UTF-8";

#products {
	padding: 5px 0;
}
#products .product {
	width: 265px;
	float: left;
	height: 420px;
	margin: 20px 5px;
	position: relative;
}

.product .productInfos {
	height: 122px;
}

.product .buyOption input {
	width: 20px;
	margin: 5px;
}

.product h3, .product h4, .product .h3 {
	margin: 0;
	float: left;
}

.product .h3 {
	font-weight: bold;
	font-size: 14px;
}

.product .right {
	float: left;
}

.product .right a {
	clear: both;
	display: block;
}

.product .priceDPH {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}

.product .priceNoDPH {
	font-size: 100% !important;
	line-height: 15px !important;
}

.product .buyOption {
	float: right;
	width: 110px;
}

.product .buyOption .moreOption {
	width: 50px;
	margin: 0 auto;
	overflow: hidden;
}

.product .buyOption .compare, .product .buyOption .favourite {
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 auto;
}

.favourite, .compare {
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 auto;
}

.product .buyOption .buy {
	clear: both;
	width: 110px;
}

.ktginterni {
	font-size: 11px;
}

.product .productInfos {
	height: 142px;
}

.product .buyOption input {
	border: 1px solid #636363;
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb 0%, #e5e5e5 100%);
	background: -webkit-linear-gradient(top, #ebebeb 0%, #e5e5e5 100%);
	background: linear-gradient(to bottom, #ebebeb 0%, #e5e5e5 100%);
	text-align: center;
}

.product h3, .product h4 {
	padding: 0;
}

.product h3 a {
	text-decoration: none;
}

.product .right {
	padding: 7px 5px;
}

.product .right .priceNoDPH {
	font-weight: bold;
	font-size: 14px;
}

.product .right .priceDPH {
	color: #535353;
}

.product .right .countYes {
	color: #2e8b57;
	font-weight: bold;
}

.product .buyOption {
	padding: 7px 4px;
}

.product .buyOption .moreOption {
	padding: 5px 0;
}

.product .buyOption .compare, .product .buyOption .favourite {
	background: #2e2699;
	background-image: url('/css/old/images/compare.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding: 3px;
	margin-right: 5px;
}

.compare, .favourite {
	&-ico {
		background: #2e2699;
		background-image: url('/css/old/images/compare.png');
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0.5;
	}
	cursor: pointer;
	padding: 3px;
	margin-right: 5px;
}

.compare.active, .favourite.active {
	.compare-ico, .favourite-ico {
		opacity: 1 !important;
	}
}

.favourite {
	background: #d50000;
	background-image: url('/css/old/images/favourite.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.product .buyOption .favourite {
	background: #d50000;
	background-image: url('/css/old/images/favourite.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.buy {
	.buyBackground {
		background: #008400;
		&:hover {
			background: #02b302 !important;
		}
	}
	background: #008400;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	&.dropdown {
		display: flex;
		align-items: center;
		a {
			width: 92%;
			float: left;
		}
		.caret {
			float: left;
		}
	}
}

.buy a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 5px 0;
	font-weight: bold;
	&:hover {
		color: #ffffff;
	}
}

#products {
	position: relative;
	clear: both;
}

#products .product .buyOption .buy:hover {
	background: #02b302 !important;
}

#insideContent #singleReview {
	padding: 20px 0;
	position: relative;
	clear: both;

	.showListRecenze {
		cursor: pointer;
		color: #29166f;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	#hodnoceniPrumer {
		width: 160px;
		height: 32px;
		background-image: url('/css/old/images/star_empty.png');
		margin: 0 auto;
		clear: both;
	}
	#hodnoceniLeft, #hodnoceniRight {
		width: 369px;
		float: left;
		padding: 15px 10px;
	}
	#hodnoceniRight {
		border-left: 1px solid #adaabe;
		width: 359px;
	}
	#hodnoceniLeft {
		h3 {
			text-align: center;
			color: #000000;
			font-size: 17px;
			margin: 0;
			padding: 5px 0;
			width: 100%;
			&.float {
				font-size: 30px;
				color: #449814;
			}
		}
	}
	h4 {
		position: relative;
		font-size: 14px;
		color: #3b287d;
		padding: 0;
		clear: both;
	}
	#pridat-recenzi {
		form {
			span {
				display: flex;
				align-items: center;
			}
		}
	}

	.hidden {
		display: none;
	}

	#hodnoceniPrumerCelkem {
		height: 32px;
		background-image: url('/css/old/images/star.png');
	}
	#listRecenze {
		width: 825px;
		margin: 0 auto;

		#reviewContainer {
			-moz-column-count: 2;
			-moz-column-gap: 0;
			-webkit-column-count: 2;
			column-count: 2;
			column-gap: 0;
			width: 825px;
		}
	}

	.selectRecenze {
		width: 385px;
		margin: 10px;
		font-size: 12px;
		display: inline-table;
		box-shadow: #c9c9db 0 0 5px 0;
		background: #ebebeb;
		border-top: 1px solid #ffffff;
		vertical-align: middle;
		color: #3b287d;
		border-left: 1px solid #ffffff;
		border-right: 1px solid #adaabe;
		line-height: 20px;
		word-wrap: break-word;
	}
	.selectRecenze:nth-child(3n+0) {
		clear: both;
	}
	.selectRecenze p {
		background: #f4f4f4;
		border-bottom: 1px solid rgb(173, 170, 190);
		margin: 0;
		padding: 12px 4px !important;
	}
	.selectRecenze p.bezHodnoceni {
		font-style: italic;
		color: #d3d3d3;
	}
	.hodnoceniPrumer {
		width: 100px;
		height: 20px;
		background-image: url('/css/old/images/star_empty_20x20.png');
	}
	.hodnoceniPrumerCelkem {
		height: 20px;
		background-image: url('/css/old/images/star_20x20.png');
	}
	#pridat-recenzi form {
		clear: both;
		font-size: 12px;
		box-shadow: rgb(201, 201, 219) 0 0 5px 0;
		background: #f4f4f4;
		border-bottom: 1px solid rgb(173, 170, 190);
		padding: 5px 20px 5px 20px;
		border-right: 1px solid #adaabe;
		overflow: hidden;
		margin-top: 2px;
	}
	#pridat-recenzi form h3 {
		padding: 5px 5px 7px 5px;
		margin: 0 0 8px 0;
		color: #2e2699;
		font-size: 14px;
		font-weight: bold;
	}
	#pridat-recenzi form input {
		border: 1px solid #b1b1b1;
		width: 155px;
		border-radius: 3px;
		padding: 6px;
		height: 18px;
		margin: 5px;
	}
	#pridat-recenzi form textarea {
		display: block;
		width: 750px;
		height: 100px;
		padding: 10px;
	}
	#pridat-recenzi form label {
		color: #f15e2b;
		font-weight: bold;
	}
	#pridat-recenzi form label[for=frm-pridatRecenziForm-poznamka] {
		clear: both;
		display: block;
		padding: 5px;
	}
	#pridat-recenzi form #addRecenzeStars {
		float: right;
		padding: 0 15px;
	}
	#pridat-recenzi form #addRecenzeStars h4 {
		margin: 0;
		font-size: 12px;
		color: #f15e2b;
		font-weight: bold;
		text-align: center;
	}
	#pridat-recenzi form input[type=submit], #pridat-recenzi form button[type=submit] {
		float: right;
		display: block;
		border: 1px solid #787ec5;
		border-radius: 3px;
		padding: 1px 5px;
		height: 24px;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		width: 90px;
		margin: 3px 5px;
		background-color: #06008f;
		cursor: pointer;
	}
	#pridat-recenzi form input[type=submit]:hover, #pridat-recenzi form button[type=submit]:hover {
		background-color: #0901c5;
	}
	#showAddRecenzeButton {
		display: block;
		clear: both;
		color: #ffffff;
		background: #06008f;
		text-decoration: none;
		border: 0;
		cursor: pointer;
		float: left;
		padding: 7.5px;
		-webkit-padding-after: 5px;
		margin: 3px 7px;
		font-weight: bold;
		font-size: 16px;
		&:hover {
			background: #0901c5;
		}
	}
}

#products .product h3, #products .product h4 {
	clear: both !important;
	float: none !important;
	color: #29166f;
}

#products .product h3 {
	font-size: 14px !important;
	line-height: 18px !important;
	color: #29166f;
}

#products .product h4 {
	padding: 5px 0 5px 0;
	font-size: 13px !important;
	line-height: 18px !important;
	min-height: 72px;
}

#products .product h4:hover {
	position: relative;
	z-index: 55;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0, #f7f7f7 30%, #f9f9f9 70%, #fdfdfd 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 0, #f7f7f7 30%, #f9f9f9 70%, #fdfdfd 100%);
	background: linear-gradient(to bottom, #f2f2f2 0, #f7f7f7 30%, #f9f9f9 70%, #fdfdfd 100%);
}

#products .product h4 a .orange {
	color: #ee7132;
	font-style: normal;
}

#products .product h3 a {
	text-decoration: underline;
}

#products .product h3 a:hover, #products .product h4 a {
	text-decoration: none;
}

#products .productInside {
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #f2f2f2 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 30%, #ffffff 70%, #f2f2f2 100%);
	border: 1px solid #dcdcdc;
	overflow: hidden;
	line-height: 18px;
	height: 100%;
	box-shadow: rgb(201, 201, 219) 0 0 10px 0;
	color: #535353;
	padding: 10px;
}

#products .extending .productInside {
	background: linear-gradient(to bottom, #ee7132 0, #ffffff 25%, #ffffff 70%, #ee7132 100%);
}

#products .productInside:hover {
	box-shadow: #474561 1px 0 20px 0;
	z-index: 300;
	overflow: visible;
}

#tab7Content {
	padding: 5px 0 !important;
}

#products .product .image {
	display: block;
	float: none;
	text-align: center;
	height: 155px !important;
	padding: 10px 0;
	position: relative;
}

#products .product .image img {
	height: 150px !important;
}

#products #productAllInOne .image {
	height: 267px !important;
}

#products #productAllInOne .image img {
	height: 240px !important;
}

#products #productAllInOne .productInfos {
	height: 90px;
	text-align: center;
}

#products #productAllInOne .productInfos h3 {
	font-size: 15px !important;
}

#products #productAllInOne .productInfos h4 {
	font-size: 14px !important;
}

#products #productAllInOne .productInside {
	background: #a7a7a7;
	background: -moz-linear-gradient(top, #a7a7a7 0, #ffffff 25%, #ffffff 75%, #a7a7a7 100%);
	background: -webkit-linear-gradient(top, #a7a7a7 0, #ffffff 25%, #ffffff 75%, #a7a7a7 100%);
	background: linear-gradient(to bottom, #a7a7a7 0, #ffffff 25%, #ffffff 75%, #a7a7a7 100%);
}

#products .product .priceNoDPH {
	overflow: hidden;
}

#products .product span {
	display: block;
	color: #535353;
	padding: 0;
	clear: both;
	float: none;
}

#products .product span.red {
	color: #ff0000;
}

#products .product span.green, a.green {
	color: #2e8b57;
}

#products .product .right, #products .product span.left {
	display: block;
	padding: 0;
	clear: none;
	cursor: default;
}

#products form {
	label, input {
		font-size: 13px;
	}
}

#products .product span.left {
	display: block;
	float: left !important;
	width: 129px;
}

#products .product .addToBasketCount span.left {
	width: 116px;
}

#products .product .addToBasketCount div.right {
	width: 117px !important;
}

#products .product .countYes span.left {
	width: 128px;
}

#products .product .countYes .left {
	font-weight: bold;
}

#products .product .right {
	display: block;
	float: right !important;
	width: 106px;
	text-align: right;
}

#products .product p {
	clear: both;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0;
}

#products .product .buyOption .addToBasketCount {
	overflow: visible;
	clear: both !important;
	float: none !important;
}

#products .product .buyOption .addToBasketCount .left {
	height: 31px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

#products .product .buyOption {
	float: none;
	padding: 0;
	width: auto;
}

#products #productAllInOne .buyOption {
	padding: 10px 0 0 0;
}

#products .product .buyOption div {
	margin: 0 0;
}

#products .product .buyOption .moreOption {
	float: left;
	clear: none !important;
	padding: 0;
}

#products .product .buyOption .buy {
	float: left;
	clear: none !important;
	/*width: 185px;*/
	width: 241px;
}

#products .product .buyOption .buy.buy-accessory {
	margin-top: 68px;
}

#products #productAllInOne .buyOption .buy {
	padding: 5px 0;
	width: 243px;
}

#products .product .buyOption .buy a {
	padding: 1px 0;
}

#products .product div.removeOblibene {
	position: absolute;
	background-image: url('/css/old/images/arrow-galerie-close.png');
	background-repeat: no-repeat;
	cursor: pointer;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
}

.ui-widget-header {
	background: #142e9b !important;
}

.ui-widget-header, .ui-slider .ui-widget-header {
	border-radius: 0 !important;
	margin-left: -9px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background: #2d197d !important;
}

.extendPosuvnik {
	width: 550px;
	margin: 0 auto;
	border-radius: 0 !important;
}

.extendPosuvnik {
	z-index: 1;
}

.extendPosuvnik span:last-child {
	z-index: 3;
}

.ui-state-default, .ui-slider-handle:first-child {
	margin-left: -21px !important;

}

.extendPosuvnik .ui-slider-handle:last-child {
	margin-left: 0 !important;
}

.extendPosuvnik .ui-slider-handle:hover {
	z-index: 20;
}

.ui-slider-handle:last-child {
	margin-left: 0 !important;
}

.ui-slider-range {
	margin: 0 auto !important;
	margin-left: -9px !important;
	padding: 0 10px;
}

.extendPosuvnik .ui-slider-range {
	margin-left: -9px !important;
	padding: 0 10px;
}

#productFilter #price-range, #filterRange .rangePriceLine {
	width: 340px;
	margin: 0 auto;
}

#filterRange .rangePriceLine {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#productFilter hr {
	display: block;
	position: relative;
	top: 0;
	padding: 0;
	clear: both;
	border-width: 1px medium medium;
	border-style: dotted none none;
	border-color: #535353 -moz-use-text-color -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
}

#productFilter .amountFrom input, #productFilter .amountTo input {
	border: none;
	clear: both;
	text-align: right;
	padding: 0 5px;
}

#productFilter .amountTo input {
	text-align: left;
}

#productFilter div.filterContainer {
	clear: both;
	margin: 15px 7px;
}

#productFilter div.filterRange {
	float: left;
	top: 0;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding: 0 5px;
}

#productFilter #filterRange {
	padding: 0 7px 5px 7px;
	margin: auto !important;
	position: relative;
	display: block;
	clear: both;
}

#productFilter div.filterRange input {
	width: 73px;
}

#filterRange .rangeLine {
	clear: both;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

#productFilter label {
	font-weight: bold;
	padding: 0 5px;
	clear: both;
	font-size: 12px !important;
}

#productFilter .productCount {
	clear: both;
	float: right;
	padding: 10px 5px 2px 5px;
}

label[for=frm-filterProductsForm-amountFrom] {
	float: left;
}

.sortMove label {
	width: 13px;
	height: 12px;
	background-image: url('/css/old/images/sortUpDisable.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}

.sortMove label.sort-DESC {
	background-image: url('/css/old/images/sortDownDisable.png');
}

.sortMove label.sort-DESC.active {
	background-image: url('/css/old/images/sortDown.png');
}

.sortMove label.sort-ASC.active {
	background-image: url('/css/old/images/sortUp.png');
}

#productFilter .sort-ASC input {
	display: none;
}

#productFilter .sort-DESC input {
	display: none;
}

#productFilter input[type=submit], #productFilter button[type=submit] {
	float: right;
	color: #ffffff;
	background-color: #06008f;
	font-weight: bold;
	border: none;
	padding: 7px;
	cursor: pointer;
}

#insideContent h2, #insideContent h1, #insideContent #h1 {
	font-size: 12px !important;
	font-weight: normal !important;
}

#insideContent h2 a, #insideContent h1 a, #insideContent #h1 a {
	color: #ffffff;
}

#insideContent h2 a:hover, #insideContent h1 a:hover, #insideContent #h1 a:hover {
	text-decoration: underline;
}

.productActions {
	position: absolute;
	top: 122px;
	width: 220px;
	text-align: left;
	overflow: visible;

	&:hover {
		z-index: 9999;
	}
}

#products .productActions {
	top: 141px !important;
}

#product .productActions {
	top: 22px;
}

.productAction {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;

	& .bubble {
		display: none;
		z-index: 999999999;

		& p {
			font-weight: normal !important;
			clear: none !important;
		}

		& img {
			max-width: 80px;
			padding: 7px 0 7px 8px;
		}

		& .right {
			float: right;
		}
	}

	& .bubbleTitle {
		font-size: 9px;
	}

	&:before {
		content: "";
		background: none no-repeat;
		position: relative;
		display: inline-block;
		width: 15px;
		height: 15px;
		background-size: 15px 15px;
		z-index: 128;
		float: left;
		padding-right: 5px;
	}

	&:hover .bubble {
		position: absolute;
		display: block;
		background-color: white;
		width: 275px;
		font-weight: normal;
		padding: 10px;
		top: -10px;
		left: 135px;
		box-shadow: rgb(201, 201, 219) 0 0 10px;
		border: 1px solid #dcdcdc;
		margin: 0;
		z-index: 99999999999;
		color: #000000 !important;
		font-size: 11px;
		text-align: left;
		overflow: visible;
		cursor: default;
	}
}

a .productAction .bubble p {
	text-decoration: none;
}

.productAction.windows-10:before {
	background-image: url('/css/old/images/win10.png');
}

.productAction.zaruka-37-mesicu:before {
	background-image: url('/css/old/images/zaruka-37-mesicu.png');
}

.productAction.freeShipping:before {
	background-image: url('/css/old/images/shipping.png');
	background-size: 15px 12px;
}

.productAction.filter-konfigurace:before {
	background-image: url('/css/old/images/extension.png');
	background-size: 16px 16px;
}

.productAction.balicek-zdarma:before {
	display: none;
}

.productAction.balicek-zdarma {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: #a400fc;
	background: -moz-linear-gradient(top, #a400fc 0%, #be54f7 50%, #b83ef9 51%, #cc7bf7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a400fc), color-stop(50%, #be54f7), color-stop(51%, #b83ef9), color-stop(100%, #cc7bf7));
	background: -webkit-linear-gradient(top, #a400fc 0%, #be54f7 50%, #b83ef9 51%, #cc7bf7 100%);
	background: -o-linear-gradient(top, #a400fc 0%, #be54f7 50%, #b83ef9 51%, #cc7bf7 100%);
	background: -ms-linear-gradient(top, #a400fc 0%, #be54f7 50%, #b83ef9 51%, #cc7bf7 100%);
	background: linear-gradient(to bottom, #a400fc 0%, #be54f7 50%, #b83ef9 51%, #cc7bf7 100%);
	background-repeat: no-repeat;
	cursor: default;
	color: #ffffff !important;
	margin-top: 3px;
	font-size: 9px;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

.productAction.kapacita-operacni-pameti-6-gb {
	clear: both;
	width: 135px;
	height: 9px;
	padding: 7.5px 10px;
	background: #9dd53a;
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
	background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
	background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
	background-repeat: no-repeat;
	cursor: default;
	color: #000000 !important;
	font-weight: bold;
	margin-top: 3px;
	font-size: 9px;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	&:before {
		display: none;
	}
}

.productAction.freeShipping {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: #fceabb;
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	cursor: default;
	color: #000000 !important;
	margin-top: 3px;
	font-weight: bold;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
.productAction.webcam {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: #fd7d1a !important;
	cursor: default;
	color: #000000 !important;
	margin-top: 3px;
	font-weight: bold;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
.productAction.no-webcam {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: #353e8f !important;
	cursor: default;
	color: #000000 !important;
	margin-top: 3px;
	font-weight: bold;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

.productAction.filter-konfigurace {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: rgb(191, 212, 255);
	background: -moz-linear-gradient(top, rgba(191, 212, 255, 1) 0%, rgba(78, 153, 252, 1) 50%, rgba(0, 130, 244, 1) 51%, rgba(148, 181, 252, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(191, 212, 255, 1) 0%, rgba(78, 153, 252, 1) 50%, rgba(0, 130, 244, 1) 51%, rgba(148, 181, 252, 1) 100%);
	background: linear-gradient(to bottom, rgba(191, 212, 255, 1) 0%, rgba(78, 153, 252, 1) 50%, rgba(0, 130, 244, 1) 51%, rgba(148, 181, 252, 1) 100%);
	cursor: default;
	color: #000000 !important;
	margin-top: 3px;
	font-weight: bold;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

.productAction.windows-10, .productAction.zaruka-37-mesicu {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background: #008be8;
	background: -moz-linear-gradient(top, #008be8 0%, #2989d8 50%, #207cca 51%, #008be8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008be8), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #008be8));
	background: -webkit-linear-gradient(top, #008be8 0%, #2989d8 50%, #207cca 51%, #008be8 100%);
	background: -o-linear-gradient(top, #008be8 0%, #2989d8 50%, #207cca 51%, #008be8 100%);
	background: -ms-linear-gradient(top, #008be8 0%, #2989d8 50%, #207cca 51%, #008be8 100%);
	background: linear-gradient(to bottom, #008be8 0%, #2989d8 50%, #207cca 51%, #008be8 100%);
	background-repeat: no-repeat;
	cursor: pointer;
	color: #ffffff !important;
	margin-top: 3px;
	font-size: 9px;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

.productAction.vanoce2016 {
	clear: both;
	width: 115px;
	height: 9px;
	padding: 7.5px 10px;
	background-image: url('/css/old/images/stitek_vanoce_03.png');
	background-repeat: no-repeat;
	cursor: pointer;
	color: #ffffff !important;
	margin-top: 3px;
	font-size: 9px;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

#extendFilter {
	overflow: hidden;
	font-size: 13px;
	color: #29166f;
	display: none;
	box-shadow: #c9c9db 0 0 7px 0;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	margin: 16px 0 1px 0;
	background: #f2f2f2;
	border-bottom: 1px solid #c3c2c2;
	border-right: 1px solid #c3c2c2;
}

#extendFilterCategory {
	width: 19%;
	float: left;
	background: #dfdfdf;
	font-size: 13px;
	font-weight: bold;
}

#extendFilterCategory div {
	border-bottom: 1px solid #bfbfbf;
	border-right: 1px solid #afafaf;
	border-top: 1px solid white;
	padding: 10px;
	cursor: pointer;
}

#extendFilterCategory div:first-child {
	border-top: 0;
}

#extendFilterCategory div:last-child {
	border-bottom: 1px solid #afafaf;
}

#extendFilterCategory div:hover {
	background: #d3d3d3;
}

#extendFilterParams {
	width: 81%;
	float: left;
	background: none;
	background-size: 150px 150px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

#extendFilterCategory div.active {
	background: #f2f2f2;
	border-right: 1px solid #f2f2f2;
}

#extendFilterParams #snippet-products-paramData .paramContent {
	display: none;
	padding: 0 5px 5px 5px;
}

#extendFilterParams .paramContent .category {
	clear: both;
	padding: 0 5px 11px 5px;
	overflow: hidden;
}

#extendFilterParams #snippet-products-paramData .paramContent div {
	display: block;
}

#extendFilterParams #snippet-products-paramData .paramContent.active {
	display: block;
}

#snippet--extendFilter {
	display: none;
}

#extendFilterParams .paramContent {
	display: none;
	padding: 0 5px 5px 5px;
}

#extendFilterParams .paramContent div {
	display: block;
}

#extendFilterParams .paramContent.active {
	display: block;
}

#extendFilterParams .paramData {
	display: flex !important;
	align-items: center;
	padding: 5px;
	width: 100%;
	float: left;
}

#extendFilterParams .paramSloupce {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

#extendFilterParams .paramSloupce:nth-child(odd) .paramData {
	padding-left: 10px;
}

#extendFilterParams .paramSloupce:nth-child(even) .paramData {
	padding-right: 10px;
}

#extendFilterParams .paramData.disabled {
	color: #cacaca !important;
}

#extendFilterParams .paramData input {
	margin: 0;
}

#extendFilterParams .paramData label {
	padding-left: 5px;
	width: 100%;
	display: flex;
	align-items: center;
}

#extendFilterParams .paramData label span.right {
	float: right;
	min-width: 78px;
	text-align: right;
	overflow: hidden;
	display: flex;
}

.category p span.right, .posuvnikAmount {
	float: left;
}

.category p {
	clear: both;
	overflow: hidden;
}

.category p span.right .itemInfo {
	padding-right: 10px;
}

#extendFilterParams .paramData label span.right .infos {
	position: relative;
	cursor: pointer;
	width: 14px;
	height: 14px;
	background-image: url('/css/old/images/quest.png');
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	float: right;
	text-align: right;
}

.category span.right .infos.extension {
	display: inline-block;
	padding: 0 5px;
}

#extendFilterParams .paramData label span.right .infos.extension, .category span.right .infos.extension {
	background-image: url('/css/old/images/extension4.png');
	background-repeat: no-repeat;
	background-position-x: center;
	float: left;
	background-size: contain;
	width: 15px;
	height: 15px;
	cursor: help;
}

#extendFilterBlock {
	width: 815px;
	margin-left: 5px;
}

#extendFilterBlock #extendFilterToggleButton {
	display: flex;
	overflow: hidden;
	align-items: center;
	width: 247px;
	box-shadow: #008400 0 0 5px;
	background-color: #008400 !important;
	border: 1px solid #005000;
	color: #ffffff;
	padding: 8px;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

#extendFilterBlock #extendFilterToggleButton:hover {
	background-color: #02b302 !important;
}

#extendFilterBlock #extendFilterToggleButton:before {
	content: '';
	background-image: url('/css/old/images/extension4_white.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	padding: 5px 11px 5px 7px;
}

#extendFilterParams .paramData label span.right span.itemInfo, .category span.right span.itemInfo {
	text-align: right;
	display: block;
	float: left;
	position: relative;
	cursor: help;
}

#extendFilterParams .paramData label span.right .count2, .category span.right .count2 {
	float: left;
}

#extendFilterParams .paramData label span.right span.itemInfo:first-child, .category span.right .itemInfo:first-child {
	padding-right: 5px;
	width: 19px;
}

#extendFilterParams .paramData label span.right span.itemInfo.basic, .category span.right .itemInfo.basic {
	float: left;
}

#extendFilterParams .paramData label span.itemInfoText {
	float: left;
	padding: 2px 5px 2px 2px;
}

#snippet--extendFilterActiveList {
	overflow: hidden;
	padding: 7px 0;
	clear: both;
}

#extendFilterActiveList {

}

#extendFilterActiveList h3 {
	color: #f15e2b;
}

#extendFilterActiveList #groups {
	padding: 16px;
	color: #000000;
	margin: 7px 0;
	box-shadow: #c9c9db 0 0 5px;
	background-color: #f0f0f0 !important;
	border: 1px solid #dcdcdc;
	overflow: hidden;
}

#extendFilterActiveList #groups #listActived div {
	padding: 5px 0;
	clear: both;
}

#extendFilterActiveList #groups #listActived {
	float: left;
	width: 646px;
}

#extendFilterActiveList #groups #cleaningFilter {
	float: right;
	padding: 5px 0;
	width: 135px;
}

#extendFilterActiveList span.group {
	font-size: 14px;
	font-weight: bold;
}

#extendFilterActiveList span.group .activeText {
	font-weight: normal;
}

#extendFilterActiveList #groups .close {
	cursor: pointer;
	color: #ffffff;
	background: #f15e2b;
	padding: 3px;
	border-radius: 12px;
	width: 12px;
	height: 12px;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	opacity: 1;
	float: none;
}

#extendFilterActiveList #groups .clearFilter {
	float: right;
	display: block;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

#extendFilterActiveList #groups .clearFilter:hover {
	text-decoration: underline;
}

.category h4 {
	margin-top: 13.5px;
	margin-bottom: 3px;
	border-bottom: 1px solid #bfbfbf;
}

#extendFilterParams .info, #listActived .info, #extendFilterParams .info2 {
	margin: 0 5px;
	cursor: pointer;
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url('/css/old/images/quest.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.posuvnikAmount {
	border: 0;
	padding: 0 5px 0 21px;
	color: #29166f;
	background: none;
}

input.posuvnikAmount, .category div.hide {
	display: none !important;
}

.subtreenodes {
	clear: both;
	a {
		background-color: #f2f2f2;
		border: 1px solid #d3d3d3;
		padding: 6px;
		font-size: 13px;
		display: block;
		line-height: 13px;
		float: left;
		margin: 5px;
		text-decoration: none;
		&:hover {
			background-color: #ededed;
		}
	}
}

.productQuality {
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	width: 60px;
	height: 60px;
	margin-top: 3px;
	text-align: center;
	background-color: #142e9b;
	color: #ffffff;
	border-radius: 50%;
	cursor: default;

	& &-content {
		width: 100%;

		&:nth-of-type(2) {
			padding-top: 15px;
			font-size: 20px;
		}

		&:nth-of-type(3) {
			margin-top: -3px;
			font-size: 9px;
		}
	}

	& &-popover {
		position: absolute;
		left: 60px;
		display: none;
		width: 275px;
		padding: 10px;
		background-color: #fff;
		border: 1px solid #dcdcdc;
		box-shadow: #c9c9db 0 0 10px 0;

		& p {
			clear: initial !important;
			font-weight: initial !important;
			margin: 0 0 10px 0 !important;
			padding: 0 !important;
		}
	}

	&:hover &-popover {
		display: block;
	}
}
