/*
Drobeckova navigace
--------------------------------------------------- */
.breadcrumb {
  font-size: 14px;
  color: #6A6A6A;
  font-weight: 300;
  margin: 0;
  padding: 15px 0 10px;

  @include breakpoint($lap-and-up) {
    line-height: 21px;
    margin-top: -15px;
  }
  @include breakpoint($desk-wide) {
    margin-top: 0;
  }

  &__back {
    margin: 0 -10px;
    padding: 7px 10px 7px 28px;
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    position: relative;

    svg {
      @include abs-pos(50% auto auto 10px);
      transform: translateY(-50%);
    }
  }
  &__home {
    @include wh(16px, 21px);
    display: inline-block;
    vertical-align: middle;

    @include breakpoint($lap-and-up) {
      width: 20px;
    }

    svg {
      margin-top: 2px;

      @include breakpoint($lap-and-up) {
        
      }
    }
  }
  li {
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;

    @include breakpoint($lap-and-up) {
      padding: 0 15px 0 5px;
    }
    &:last-child:after {
      display: none;
    }
    a {
      color: #353e8f;

      @include breakpoint($lap-and-up) {
        display: block; 
      }
    }

    &:after {
      content: '>';
      margin-left: 6px;

      @include breakpoint($lap-and-up) {
        content: '';
        @include abs-pos(50% 0 auto auto);
        transform: translateY(-50%);
        @include wh(0);
        border-style: solid;
        border-width: 8px 0 8px 6px;
        border-color: transparent transparent transparent #ccc;
        margin-left: 0;
      }
    }
    &:before {
      
      @include breakpoint($lap-and-up) {
        content: '';
        @include abs-pos(50% 1px auto auto);
        transform: translateY(-50%);
        z-index: 1;
        @include wh(0);
        border-style: solid;
        border-width: 8px 0 8px 6px;
        border-color: transparent transparent transparent #f6f6f6;
      }
    }
  }
}