.catalogue {
  #content-catalog, #content-pricelist, #content-leaflets {
    form {
      margin: 10px 0;

      select {
        max-width: 100%;
      }

      input[type='text'], input[type='number'], select {
        width: 100%;
        max-width: 400px;
        border: 1px solid #cecece;
        line-height: 26px;
        padding: 5px 10px;
        height: 36px;
        /*display: block;*/
        margin-bottom: 15px;
        font-size: 0.9375rem;
      }

      input[type='checkbox'] {
        margin-right: 5px;
      }

      label {
        display:block;
        padding: 0;
        margin: 0;
        line-height: 30px;
        color: #2f2f2f;
        font-size: 0.875rem;
      }
    }

    h2 {
      margin: 20px 0 15px 0;
      line-height: 18px;
      color: #2f2f2f;
      font-size: 1.1875rem;
      font-weight: normal;
    }

    p {
      margin-bottom: 20px;
    }

    .btn, input[type='submit'] {
      background: #fd7d1a;
      border: 0;
      padding: 0 20px;
      color: #fff;
      font-weight: 700;
      font-size: 0.9375rem;
      line-height: 32px;

      &:hover {
        color: #fff;
        text-decoration: none;
        background: #e26402;
      }
    }
  }

  .hide {
    display: none;
  }

}
