.finalcart
{
  &__title
  {
    color:#5bab46;
    font-size: em(19);
  }

  &__text
  {
    color:#858484;
    font-size: em(14);

    p
    {
      line-height: 22px;
      padding-bottom: 22px;
    }
  }
}