.problems
{
  margin-top: 100px;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 13px 20px;

  @media(max-width:767px)
  {
    text-align: center;
  }

  &__title
  {
    color:#2f2f2f;
    font-size: em(19);
    font-weight: 700;
    line-height: 30px;
  }

  &__subtitle
  {
    line-height: 26px;
    font-size: em(15);

    @media(max-width:767px)
    {
      margin-bottom: 15px;
    }
  }

  a
  {
    display: inline-block;
    font-size: em(19);
    line-height: 26px;
    padding: 15px 0;

    @media(max-width:1199px)
    {
      line-height: 22px;
      padding: 3px 0;
    }
  }
}